<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>BookStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>SearchBookServlet</display-name>
    <servlet-name>SearchBookServlet</servlet-name>
    <servlet-class>com.bookstore.controller.client.book.SearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchBookServlet</servlet-name>
    <url-pattern>/SearchBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomerServlet</display-name>
    <servlet-name>ListCustomerServlet</servlet-name>
    <servlet-class>com.bookstore.controller.admin.customer.ListCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomerServlet</servlet-name>
    <url-pattern>/ListCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCustomerServlet</display-name>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <servlet-class>com.bookstore.controller.admin.customer.CreateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCustomerServlet</servlet-name>
    <url-pattern>/CreateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCustomerNewFormServlet</display-name>
    <servlet-name>ShowCustomerNewFormServlet</servlet-name>
    <servlet-class>com.bookstore.controller.admin.customer.ShowCustomerNewFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCustomerNewFormServlet</servlet-name>
    <url-pattern>/ShowCustomerNewFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.bookstore.controller.admin.customer.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditCustomerServlet</display-name>
    <servlet-name>EditCustomerServlet</servlet-name>
    <servlet-class>com.bookstore.controller.admin.customer.EditCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerServlet</servlet-name>
    <url-pattern>/EditCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.bookstore.controller.admin.customer.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
</web-app>